@font-face {
    font-family: 'Wotfard';
    src: url('/assets/fonts/wotfard-extralight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Wotfard';
    src: url('/assets/fonts/wotfard-extralightitalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Wotfard';
    src: url('/assets/fonts/wotfard-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Wotfard';
    src: url('/assets/fonts/wotfard-regularitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Wotfard';
    src: url('/assets/fonts/wotfard-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Wotfard';
    src: url('/assets/fonts/wotfard-semibolditalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}
