/* CSS for the generated markdown, which of course can't be tailwinded */

body {
  line-height: 1.6rem;
  font-family: "Wotfard", "Avenir Medium", "Avenir Next Medium", "Avenir Next LT Pro", "Montserrat", sans-serif;
}

code, pre {
  font-family: "Roboto Mono", "Consolas", monospace;
  font-size: 14px;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 1px 3px 1px 3px;
}

@media (prefers-color-scheme: dark) {
  code, pre {
    background-color: #525252;
  }
}

#content a {
  color: #ba8c2a;
}

p, blockquote, ul, ol, dl, table, pre, article {
  margin: 12px 0 18px 0;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  margin: 28px 0 18px 0;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  margin: 28px 0 18px 0;
  border-bottom: 1px solid #d6d3d1;
  padding-bottom: 12px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 28px 0 0 0;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  margin: 28px 0 -8px 0;
}

li {
  list-style: initial;
  margin-left: 28px;
}

hr {
  margin: 24px 0 24px 0;
}

blockquote {
  padding-left: 14px;
  margin-left: 10px;
  border-left: 2px solid #d6d3d1;
}

img {
  margin: 32px auto 32px auto;
}

.pxl {
  width: 67%;
  image-rendering: pixelated;
}

@media only screen and (min-width: 600px) {
  .pxl {
    width: 50%;
  }
}
