body {
	font-family: "Wotfard", "Avenir Next Medium", "Avenir Medium", "Avenir Next LT Pro", "Montserrat", sans-serif;
}

.section {
	padding-top: 0px;
}

.footer {
	padding-top: 0rem;
	padding-bottom: 1.5rem;
	line-height: 1.65;
	background-color: var(--background-color);
}

/* Makes the footer stick to the bottom of the page */
.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content {
	flex: 1;
}

.main-content {
	max-width: 716px;
}

/* Fixes footer spacing */
.Site-content > section {
	padding-bottom: 1.5rem;
}

.Site-content > section.hero {
	padding-bottom: 0rem;
}

/* Spacing for the list in post-list */
.ul_posts {
	list-style: none;
	padding-left: 0;
}

.li_posts {
	list-style: none;
	margin-bottom: 2rem;
}

.li_posts > h3 {
	margin-bottom: 0;
}

/* The rest! */

:root {
    --text-color: #111111;
    --text-color-light: #444444;
    --text-color-faded: #cccccc;
    --background-color: #ffffff;
}

#themeSwitch:checked~#content {
    --text-color: #eeeeee;
    --text-color-light: #cccccc;
    --text-color-faded: #666666;
    --background-color: #05162e;
}

.light {
    font-weight: 300;
}

#content {
    color: var(--text-color);
    background-color: var(--background-color);
	font-size: 16px;
	line-height: 1.6;
}

/* For some reason, bold forces a taller line height? */
strong {
    line-height: 1em;
}

code, pre {
	font-family: "Roboto Mono", "Consolas", monospace;
	font-size: 12px;
}

a {
	color: #ba8c2a;
}

li {
	list-style: initial;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  border-bottom: 1px solid var(--text-color-faded);
  padding-bottom: 4px;
  margin-bottom: 18px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

h5 {
  font-weight: 600;
  font-size: 12px;
}

h6 {
  font-weight: 600;
  font-size: 14px;
}

.pxl {
	width: 67%;
	image-rendering: pixelated;
}

@media only screen and (min-width: 600px) {
	.pxl {
		width: 50%;
	}
}

/* override bulma's assumes-light colors */
.navbar-item {
    color: var(--text-color-light);
}

strong {
    color: var(--text-color);
}

/* we want this to look like a button */
label {
  cursor: pointer;
}

/* this overrides a bulma default I don't like */
.message:not(:last-child) {
    margin: 1.75rem 0rem;
}

.message-body > p {
  margin: 0;
}
