<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <title>willett dot io</title>
  <link rel="stylesheet" href="/assets/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/github-markdown.css">
  <link rel="stylesheet" href="/assets/css/post.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="alternate" href="/feed.xml" type="application/rss+xml">
</head>

<body>
  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="has-text-weight-light">brandon willett</h1>
        <hr>
        <div class="columns is-variable is-6 is-centered">
          <div class="column is-2"><a href="/about/">about</a></div>
          <div class="column is-2"><a href="/posts/">writing</a></div>
          <div class="column is-2"><a href="/projects/">stuff</a></div>
          <div class="column is-2"><a href="/contact/">contact</a></div>
          <div class="column is-2"><a href="/assets/Resume.pdf">resume</a></div>
        </div>
      </div>
    </div>
  </section>
  {% if site.analytics %}
  <img style="display: none;" src="https://willettio.goatcounter.com/count?t=index&p=/">
  {% endif %}
</body>

</html>
