---
layout: post
title: "writings"
---
<ul class="ul_posts">
	<li class="li_posts">
		<h3><a href="/assets/2020-07-21-jamstack.pdf">Intro to JAMstack (Jul 2020)</a></h3>
		<span><b>21 Jul 2020 &nbsp; \$</b> &nbsp; A small presentation given for students and alumni of the Flatiron School about the "JAMstack", a newer approach to building modern web applications, and why it's interesting to me (as a reliability engineer) in addition to web developers.</span>
	</li>
	{%- for post in site.posts -%}
	<li class="li_posts">
		<h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
		<span><b>{{ post.date | date_to_string }} &nbsp; \$</b> &nbsp; {{ post.content | strip_html | truncatewords: 50 }}</span>
	</li>
	{%- endfor -%}
	<li class="li_posts">
		<h3><a href="https://medium.com/actioniq-tech/an-infinite-fleet-of-plumbers-a56611ec10fb">An Infinite Fleet of Plumbers (Medium)</a></h3>
		<span><b>7 Mar 2019 &nbsp; \$</b> &nbsp; Here at ActionIQ, we have to ingest a lot of data — thousands of terabytes, across dozens of data sources, for many clients, in several formats, multiple times per day. Dealing with enterprise-scale data processing could get overwhelming...</span>
	</li>
</ul>
