<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} — willett dot io</title>
  <link rel="stylesheet" href="/assets/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/github-markdown.css">
  <link rel="stylesheet" href="/assets/css/post.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  {% seo %}
</head>

<body class="Site">
  <input type="checkbox" id="themeSwitch" hidden/>
  <div id="content">
    <main class="Site-content">
      <section class="hero">
        <!-- Hero header: will be at the top of the hero -->
        <div class="hero-head">
          <nav class="navbar"><div class="container">
            <div class="navbar-brand">
              <span class="navbar-item"><span class="is-size-4">brandon willett</span></span>
              <span class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a href="/" class="navbar-item">home</a>
                <a href="/posts/" class="navbar-item">articles</a>
                <a href="/contact/" class="navbar-item">contact</a>
                <a href="https://github.com/pickledish" class="navbar-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                  </svg>
                </a>
                <label for="themeSwitch" class="navbar-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                    <path d='M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z'/>
                  </svg>
                </label>
              </div>
            </div>
          </div></nav>
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero-body" style="padding-bottom: 0.5rem;">
          <div class="container has-text-centered">
            <h1 class="light">
              {{ page.title }}
            </h1>
            {% if page.subtitle %}
            <p class="light">
              {{ page.subtitle }}
            </p>
            {% endif %}
            {% if page.date %}
            <h5 class="light">
              {{ page.date | date: "%B %-d, %Y" }} &nbsp;--&nbsp; {{ content | number_of_words | divided_by:180 }} minutes
            </h5>
            {% endif %}
          </div>
        </div>
        <div class="hero-body" style="padding: 0;">
          <div class="container has-text-centered">
            <p><b> · · · </b></p>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="columns is-centered">
          <div class="main-content column is-two-thirds">
            {{ content }}
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <hr>
          <div class="columns is-centered" style = "margin-right: 0">
            <div class="column is-half is-marginless is-paddingless">
              <br>
              <p class="is-marginless has-text-right">
                Made with <a href="https://bulma.io">Bulma</a> &nbsp; | &nbsp; Last updated {{ site.time | date_to_string }}
              </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <img style="display: none;" src="https://willettio.goatcounter.com/count?t={{ page.title | url_encode }}&p={{ page.url }}">
  </div>
</body>

</html>
